* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
}

main {
  display: flex;
  justify-content: space-between;
}
.content {
  padding: 20px;
  color: #eab308;
  font-size: 18px;
  font-weight: 900;
  background-color: #3730a3;
}
h1 {
  color: #eab308;
  font-size: 20px;
  margin-bottom: 30px;
}
input {
  padding: 5px 20px;
  width: 100%;
  margin-bottom: 5px;
}
#content {
  width: 100%;
}
.btn {
  margin-top: 5px;
  width: 100%;
  padding: 10px 0;
  background-color: #ea580c;
  font-size: 20px;
  color: white;
}

.posts {
  flex: 1;
  margin: 40px;
  font-size: 22px;
  color: white;
}

.posts p {
  background-color: #333;
  padding: 10px;
}

.posts button {
  margin-left: 1000px;
  color: white;
  font-size: 24px;
  background-color: transparent;
}
.display {
  background-color: #333;
  color: white;
}

.hidden {
  display: none;
}
